@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--color-wordpress-link-hover);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /**
  ======================================
  Custom root variables
  ======================================
  **/
  --scroll-progress-in-pixels: 0px;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/***************
Gradient
***************/  
@theme {
  --gradient-brand: linear-gradient(
    to right,
    rgba(198, 88, 128, 1) 0%,
    rgba(230, 167, 53, 1) 100%
  );
}

/**
======================================
Base Style Guide
======================================
**/
@theme {

   /**
    ======================================
    Text Styles
    ======================================
    **/
    --text-xs: 0.625rem;    /* 10px */
    --text-sm: 0.75rem;     /* 12px */
    --text-md: 0.813rem;    /* 13px */
    --text-base: 1rem;      /* 16px */
    --text-lg: 1.125rem;    /* 18px */
    --text-xl: 1.25rem;     /* 20px */
    --text-2xl: 1.5rem;     /* 24px */

    /**
    ======================================
    Feedback Colors
    ======================================
    **/

    /* Success colors */
    --color-rsp-success-dark: var(--color-green-700);
    --color-rsp-success: var(--color-green-500);
    --color-rsp-success-light: var(--color-green-100);
    
    /* Warning colors */
    --color-rsp-warning-dark: var(--color-yellow-600);
    --color-rsp-warning: var(--color-yellow-400);
    --color-rsp-warning-light: var(--color-yellow-100);
    
    /* Error colors */
    --color-rsp-error-dark: var(--color-red-700);
    --color-rsp-error: var(--color-red-500);
    --color-rsp-error-light: var(--color-red-100);

    /* Info colors */
    --color-rsp-info-dark: var(--color-blue-600);
    --color-rsp-info: var(--color-blue-400);
    --color-rsp-info-light: var(--color-blue-100);

    /**
    ======================================
    Task Status Colors
    ======================================
    **/

    --color-rsp-task-premium: var(--color-primary);
    --color-rsp-task-special-feature: var(--color-primary);
    --color-rsp-task-open: var(--color-rsp-warning);
    --color-rsp-task-warning: var(--color-rsp-error);
    --color-rsp-task-urgent: var(--color-rsp-error-dark);
    --color-rsp-task-completed: var(--color-rsp-success);
    --color-rsp-task-dismissed: var(--color-gray-100);

    /**
    ======================================
    Base Brand Colors
    ======================================
    **/

    /* Primary colors */
    --color-primary: #3C88DA;
    --color-primary-light: #DDEDFE;
    --color-primary-dark: #005FC4;

    /* Secondary colors */
    --color-secondary: #00CE9A;
    --color-secondary-light: #E5FFF8;
    --color-secondary-dark: #00AD82;

    /* Tertiary colors */
    --color-tertiary: #FF9900;
    --color-tertiary-light: #FFF1DC;
    --color-tertiary-dark: #B86E00;

    /**
    ======================================
    Social Media Colors
    ======================================
    **/
    
    --color-bluesky: #1185fe;
    --color-facebook: #2074ff;
    --color-gbp: #4b8bf4;
    --color-ga: #4285f4;
    --color-instagram: #ff0069;
    --color-linkedin: #0068c9;
    --color-lstudio: #6498ee;
    --color-pinterest: #e60023;
    --color-twitch: #9146ff;
    --color-twitter: #55acee;
    --color-threads: #000000;
    --color-tiktok: #010101;
    --color-youtube: #f03;
    --color-x: #0f141a;

    /**
    ======================================
    Related Plugin Colors
    ======================================
    **/
    --color-rss: #EEB126;
    --color-simplybook: #06ADEF;
    --color-complianz: #121212;
    --color-metricool: #C65880;

    --color-rss-blue: #007AB9;

    /**
    ======================================
    Wordpress Colors
    ======================================
    **/
    --color-wordpress-blue: #2271B1;
    --color-wordpress-link-hover: #135e96;

    /**
    ======================================
    Additional Breakpoints
    ======================================
    **/

    --breakpoint-2xl: clamp(300px,100% - 20px * 2,1600px);
    --container-8xl: 125rem;
}

/**
======================================
WP style overwrites
======================================
**/
#wpcontent {
    padding-left: 0 !important;
}

/* Tailwind adds a base 'display: block' style on all imgs.
This messes with some admin menu icons, so we overwrite it with 'initial'.
Not overwriting for all imgs as Tailwind might rely on it under the hood. */
#adminmenu .wp-menu-image img {
    display: initial;
}

/**
======================================
Special Utility Classes
======================================
**/
.gradient-button-ghost {
  @apply flex justify-center items-center bg-transparent!;
  @apply relative;

  span {
    @apply text-transparent bg-clip-text!;
    background: var(--gradient-brand);
  }

  &::after {
    @apply w-full h-full;
    @apply absolute;
    @apply bg-transparent! text-transparent;
    @apply rounded-xs content-['']!;
    @apply border-2;
    background: var(--gradient-brand);
    box-sizing: content-box;
    background-origin: border-box;
    mask:
      linear-gradient(0deg, white 0, white 0) padding-box,
      linear-gradient(0deg, white 0, white 0);
    mask-composite: exclude;
  }
}

.svg-gradient {
  * {
    fill: url('#fa-gradient');
  }
}

.loading-ellipses {
    &::after {
        overflow: hidden;
        display: inline-block;
        vertical-align: bottom;
        -webkit-animation: ellipsis steps(4, end) 2100ms infinite;
        animation: ellipsis steps(4, end) 2100ms infinite;
        content: "\2026"; /* ascii code for the ellipsis character */
        width: 0;
    }
}

@keyframes ellipsis {
    to {
        width: 1em;
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 1em;
    }
}


.required-asterisk {
    &::after {
        content: " \002A"; /* ascii code for the asterisk character */
        color: red;
        font-weight: bold;
    }
}

.rsp-plugin-root *:focus-visible {
    box-shadow: 0 0 0 2px var(--color-wordpress-blue) !important;
    outline: 2px solid transparent !important;
}