/* New way to load Tailwindcss */
/* @import "tailwindcss"; */
@layer theme, base, components, utilities;

@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css";

@import "./base.css";

@font-face {
    font-family: "Nunito";
    src: url("../assets/fonts/Nunito-Variable.woff2")
    format("woff2");
    font-weight: 700;
    font-style: normal;
}

/**
======================================
Metricool Brand Style Guide
======================================
**/

@theme {

    --font-nunito: Nunito;

    /**
    ======================================
    Main Colors
    ======================================
    **/
    /* Primary Gradient */
    --color-primary-gradient: linear-gradient(90deg, rgba(198, 88, 128, 1) 0%, rgba(230, 167, 53, 1) 100%);

    /* Primary Colors */
    --color-primary: #C65880;
    --color-primary-light: #EAB6C7;
    --color-primary-dark: #895E8B;

    /* Secondary Colors */
    --color-secondary: #E6A735;
    --color-secondary-light: #FEEBB9;
    --color-secondary-dark: #B78427;

    /* Tertiary Colors */
    --color-tertiary: #5C90A8;
    --color-tertiary-light: #72C9DA;
    --color-tertiary-dark: #426B7D;

    /**
    ======================================
    Support Colors
    ======================================
    **/
    --color-light-green: #52C79F;
    --color-upsell: #F5C931;

    /**
    ======================================
    Metricool Web Colors
    ======================================
    **/
    --color-web: #5c90a8;
    --color-blog: #5f9ea0;

    --gradient-brand-secondary: linear-gradient(90deg,#589CBC 0%,#EE5B91 53.02%,#F5CA32 100%);
}

.grecaptcha-badge {
    visibility: hidden;
}